@font-face {
	font-family: 'parangon520c';
	src:url('../fonts/Parangon520c/parangon_520c.ttf');
}
@font-face {
	font-family: 'Futura';
	src:url('../fonts/Futura/Futura.ttf');
}
@font-face {
	font-family:'HelveticaNeueRoman';
	src:url('../fonts/Helvetica/HelveticaNeueRoman.ttf');
}